<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vue2</title>
</head>
<body>
    <div id="app" class="container">
        <h3>Série A Brasileirão 2018</h3>
        <div class="row" v-if="view == 'table'">
            <a href="#" class="btn btn-primary" @click.prevent="createNewGame">New Game</a>
            <input type="text" class="form-control" v-model="filter">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th v-for="coluna in colunas">
                            <a @click="sortBy(coluna)">{{coluna | ucwords}}</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="time in timesFiltered">
                        <td>
                            <img :src="time.escudo" style="height:30px; width: 30px;" alt="">
                            <strong>{{time.nome}}</strong></td>
                        <td>{{time.pontos}}</td>
                        <td>{{time.gm}}</td>
                        <td>{{time.gs}}</td>
                        <td>{{time | saldo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" v-if="view == 'game'">
            <form class="form-inline" action="index.html" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="game.casa.gols" @keyup.enter="endGame">
                    <label class="control-label">
                        {{game.casa.time.nome}}
                        <img :src="game.casa.time.escudo" style="height: 30px; width: 30px;">
                    </label>
                </div>
                <span>X</span>
                <div class="form-group">
                    <label class="control-label">
                        <img :src="game.fora.time.escudo" style="height: 30px; width: 30px;">
                        {{game.fora.time.nome}}
                    </label>
                    <input type="text" class="form-control" v-model="game.fora.gols" @keyup.enter="endGame">
                </div>
                <button type="button" class="btn btn-primary" @click="endGame">End Game</button>
            </form>
        </div>
    </div>
    <script src="dist/build.js"></script>
</body>
</html>
